main.route-about{    

    .container{
        display: flex;
        justify-content: space-around;      
    }

    header {
        background-color: #FFCC3C;
        padding: 20px;
        text-align: center;
    }
    
    header h1 {
        margin: 0;
        color: #1F2123;
    }
    
    header p {
        margin: 5px 0 0;
        color: #E9592B;
    }
    
    .services {
        padding: 20px;
        background-color: #FFF5E1;
        width: 50%;
    }
    
    .services h2 {
        color: #3D7CBB;
        text-align: center;
    }
    
    .services p {
        text-align: center;
        margin: 10px 0;
    }
    
    .services ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }
    
    .services li {
        margin: 5px 0;
        color: #E9592B;
    }
    
    .gallery {
        padding: 20px;
        width: 50%;
    }
    
    .gallery h2 {
        text-align: center;
        color: #3D7CBB;
    }
    
    .column {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .developer {
        text-align: center;
        margin: 10px 0;
    }
    
    .developer img {
        width: 200px;
        height: auto;
        border: 2px solid #1F2123;
    }
    
    .developer .name {
        margin-top: 5px;
        color: #1F2123;
    }    
}