:root {
  --primary: #E9592B;
  --secondary: #FFCC3C;
  --accent: #5c2410;
  
  --text: #eb4a00;
  --fill: #d1b01a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--primary);
}

header {
  display: flex;
  padding-block: 0.5rem;
  justify-content: space-evenly;
  background-color: var(--secondary);
  z-index: 2;

  h1 {
    color: var(--accent);
    text-align: left;

    font-weight: 400;
    font-size: 2.75rem;
  }
}

main {
  flex-grow: 1;

  video {
    max-width: 100%;
  }
}

nav {
  display: flex;
  justify-content: right;
  width: 50%;
  // padding-block: 1rem;

  a {
    display: grid;
    justify-items: center;
    align-items: center;

    width: 5rem;
    height: 5.5rem;

    text-decoration: none;
    
    color: transparent;

    transform: translateY(1rem);
    transition: 450ms cubic-bezier(0.34, 1.56, 0.64, 1);

    &.active {
      outline: 4px solid var(--accent);
      border-radius: 8px;

      color: var(--accent);
      background-color: var(--primary);

      transform: translateY(2rem);

      i {
        color: var(--accent);
      }
      
    }

    i {
      color: var(--primary);
      font-size: 2rem;
    }
  }
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  h1{
    font-size: 1rem;
    font-weight: 400;
    scale: 0.9;
  }
}

@media (max-width: 480px) {
  p {
      font-size: 1rem;
  }

  button {
      width: 100%;
  }
}