:root {
  --primary: #E9592B;
  --secondary: #FFCC3C;
  --accent: #5c2410;
  
  --text: #fcf9f5;
  --fill: #faf5f5;
}

@font-face {
  font-display: swap;
  font-style: normal;
  src: url("../public/fonts/VarelaRound-Regular.ttf");
  font-family: "Varela Round";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("..public/fonts/Soft Marshmallow.otf");
  font-family: "Marshie";
  font-weight: 400;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

header > img{
  width: 5%;
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--primary);
}

header {
  display: flex;
  padding-block: 0.5rem;
  justify-content: space-evenly;
  background-color: var(--fill);
  z-index: 1;
  height: 100px;

  h1 {
    color: var(--Color-4, #E9592B);
    font-family: "Soft Marshmallow";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    font-size: 2.75rem;

    margin-left: 1%;
    margin-top: 1%;
    padding: 10px;
  }
  img {
    margin-right: -100px;
    float: left;
  }
}

main {
  flex-grow: 1;
}

nav {
  display: flex;
  justify-content: right;
  width: 50%;

  a {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 15px 10px;

    width: 6rem;
    height: 2.8rem;

    text-decoration: none;
    
    color: var(--Color-4, #E9592B);
    font-family: "Soft Marshmallow";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transform: translateY(1rem);
    transition: 450ms cubic-bezier(0.34, 1.56, 0.64, 1);

    &.active {
      border-radius: 25px;

      color: var(--Color-2, #FCF9F5);
      font-family: "Soft Marshmallow";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background-color: var(--primary);

      transform: translateY(1.5rem);

      i {
        color: var(--accent);
      }
      
    }

    i {
      color: var(--primary);
      font-size: 3.5rem;
    }
  }
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  h1{
    font-size: 1rem;
    font-weight: 400;
    scale: 0.9;
    display: none;
  }
  header {
    img{
    width: 10%;
    }
    nav{
      a{
        width: 3.5rem;
        height: 3.5rem;
      }
      i{
        font-size: 3rem;
      }
      p{
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
  p {
      font-size: 1rem;
  }

  button {
      width: 100%;
  }
}


/*For Text in Containers*/
.ui {
	&.text {
		&.size-textxs {
			font-size: 18px;
			font-weight: 400;
			font-style: normal;
		}
		&.size-texts {
			font-size: 20px;
			font-weight: 400;
			font-style: bold;
		}
		&.size-textmd {
			font-size: 25px;
			font-weight: 400;
			font-style: normal;
			@media only screen and (max-width: 1050px) {
				font-size: 23px;
			}
		}
	}
}

@media only screen and (max-width: 550px) {
	.ui.text.size-textxs {
		font-size: 21px;
	}
	.ui.text.size-texts {
		font-size: 33px;
	}
	.ui.text.size-textmd {
		font-size: 34px;
	}
	.ui.text.size-textlg {
		font-size: 36px;
	}
	.ui.text.size-textxl {
		font-size: 40px;
	}
}

.ui {
	&.text {
		color: var(--gray_50);
		font-family: Varela Round;

		&.size-textlg {
			font-size: 37px;
			font-weight: 400;
			font-style: bold;
			@media only screen and (max-width: 1050px) {
				font-size: 35px;
			}
		}

		&.size-textxl {
			font-size: 38px;
			font-weight: 400;
			font-style: bold;
			@media only screen and (max-width: 1050px) {
				font-size: 36px;
			}
		}

		&.size-text2xl {
			font-size: 40px;
			font-weight: 400;
			font-style: bold;
			@media only screen and (max-width: 1050px) {
				font-size: 38px;
			}
		}

		&.size-text3xl {
			font-size: 50px;
			font-weight: 400;
			font-style: bold;
			@media only screen and (max-width: 1050px) {
				font-size: 46px;
			}
		}
	}
}
