:root {
  --primary: #E9592B;
  --secondary: #FFCC3C;
  --accent: #5c2410;
  
  --text: #fcf9f5;
  --fill: #faf5f5;
}

@font-face {
  font-family: 'Marshie';
  src: url('/fonts/Soft\ Marshmallow.otf');
  font-weight: normal;
  font-style: normal;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Marshie';
}

html, body {
  min-height: 100vh;
}

header > img{
  width: 5%;
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--primary);
}

header {
  display: flex;
  padding-block: 0.5rem;
  justify-content: space-evenly;
  background-color: var(--fill);
  z-index: 2;

  h1 {
    color: var(--accent);
    text-align: left;

    font-weight: 800;
    font-size: 2.75rem;
    margin-left: -5%;
    margin-top: 1%;
  }
}

main {
  flex-grow: 1;

  video {
    max-width: 100%;
  }
}

nav {
  display: flex;
  justify-content: right;
  width: 50%;
  // padding-block: 1rem;

  a {
    display: grid;
    justify-items: center;
    align-items: center;

    width: 6rem;
    height: 5rem;

    text-decoration: none;
    
    color: transparent;

    transform: translateY(1rem);
    transition: 450ms cubic-bezier(0.34, 1.56, 0.64, 1);

    &.active {
      border-radius: 5px;

      color: var(--accent);
      background-color: var(--primary);

      transform: translateY(1.5rem);

      i {
        color: var(--accent);
      }
      
    }

    i {
      color: var(--primary);
      font-size: 3.5rem;
    }
  }
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  h1{
    font-size: 1rem;
    font-weight: 400;
    scale: 0.9;
    display: none;
  }
  header {
    img{
    width: 10%;
    }
    nav{
      a{
        width: 3.5rem;
        height: 3.5rem;
      }
      i{
        font-size: 3rem;
      }
      p{
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
  p {
      font-size: 1rem;
  }

  button {
      width: 100%;
  }
}