:root {
  --variable-collection-color: rgba(255, 204, 60, 1);
  --variable-collection-color-2: rgba(252, 249, 245, 1);
  --variable-collection-color-3: rgba(31, 33, 35, 1);
  --variable-collection-color-4: rgba(233, 89, 43, 1);
  --variable-collection-color-5-link: rgba(61, 124, 187, 1);
}
